*/a.out
a.out
show_fin.sh
show_debut.sh
makeheaders
setup_main.sh
enleve_tabs.sh
*.o
*/*.o
*.a
*/*.a
*/*.h.gch
.DS_Store
*/.DS_Store
*/Makefile
*/ft_list.c
ex00/ft_create_elem.h
ex01/ft_list_push_front.h
ex02/ft_list_size.h
ex03/ft_list_last.h
ex04/ft_list_push_back.h
ex05/ft_list_push_strs.h
ex06/ft_list_clear.h
ex07/ft_list_at.h
ex08/ft_list_reverse.h
ex09/ft_list_foreach.h
ex10/ft_list_foreach_if.h
ex11/ft_list_find.h
ex12/ft_list_remove_if.h
ex13/ft_list_merge.h
ex14/ft_list_sort.h
ex15/ft_list_reverse_fun.h
ex16/ft_sorted_list_insert.h
ex17/ft_sorted_list_merge.h
ex08/ft_list.h
Makefile
