main.c
*/a.out
a.out
show_fin.sh
show_debut.sh
makeheaders
setup_main.sh
enleve_tabs.sh
*.o
*/*.o
*/*.h.gch
.DS_Store
*/.DS_Store
ex01/ft_boolean.c
ex03/ft_point.c
ex04/ft_show_tab.c
ex05/ft_strs_to_tab.c
ex04/ft_stock_str.h
ex05/ft_stock_str.h
